.main-box-display {
    background-color: red;
    border-radius: .3rem;
    width: 300px;
    height: 500px;
    position: absolute;
    top: 80px;
    right: -150px;
    z-index: 40;
}

.box__contain-display {
    background-color: royalblue;
    width: 280px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: .3rem;
    margin: 1rem auto;
    padding: 1rem;  
    
}

.box__title-display {
    font-size: .7rem;
    text-transform: uppercase;
    padding-left: .5rem;
}


.title {
    margin: 7rem auto 1rem auto;
    padding-bottom: .5rem;
    width: 80%;
    font-weight: 700;
    border-bottom: 1px solid #000;
}

.nav-contain {
    margin: 0 auto;
    padding: .8rem 1.2rem;
    font-size: .8rem;
    font-weight: 700;
    background-color: #f1f1f1;
    border-radius: .3rem;
    display: flex;
    color: #333;
    width: 80%;
}

.flex-grow-right {
    flex-grow: 2;
}

.flex-grow-left {
    flex-grow: .1;
}

.box__image--small-display {
    width: 50px;
    height: auto;
}

.box__price--amount-display {
    font-size: 1rem;
    width: 40px;
    padding-left: .5rem;
}

.box__price--display {
    font-size: 1rem;
    width: 50px;
}


.trash-display {
    display: inline-block;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    background-image: url(../icons/trash.svg);
    background-position: center;
    background-size: 1em;
    background-repeat: no-repeat;  
}

.trash-contain {
    padding-left: .7rem;
}
