.slider {
  height: 65vw;
  background-color: white;
  position: relative;
}

.slider__text {
  height: 2em;
  border: 2px yellow;
  background-color: pink;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.slider__title {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 7px;
}

.slider__title:after {
  display: inline-block;
  content: ">";
  position: relative;
  margin-left: 4px;
}

.slider__view-all {
  display: none;
}

.slider__content {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  position: relative;
  margin-top: 1em;
}

.slider__content::-webkit-scrollbar {
  display: none;
}

.slider__item {
  margin: 0 5px;
  position: relative;
}

.slider__image {
  border: 4px solid transparent;
  border-radius: 2px;
  width: 40vw;
}

.slider__image:hover {
  border: 4px solid pink;
  border-radius: 2px;
}

@media screen and (min-width: 600px) {
  .slider {
    height: 50vw;
  }

  .slider__title:after {
    display: none;
  }

  .slider__view-all {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 7px;
  }

  .slider__view-all:after {
    display: inline-block;
    content: ">";
    position: relative;
    margin-left: 4px;
  }

  .slider__image {
    border: 4px solid transparent;
    border-radius: 2px;
    width: 30vw;
  }
}

@media screen and (min-width: 1024px) {
  .slider {
    height: 29vw;
  }

  .slider__image {
    border: 4px solid transparent;
    border-radius: 2px;
    width: 15vw;
  }
}
